<h2>Stupid Coaching</h2>
Ask your coach anything:
<form action="answer" data-turbo="false">
  <input type="text" class="form-control w-50" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button type="button" class="btn btn-success mt-2">Ask!</button>
</form>
